<style>
 body {
    margin: 5px;
    background: #23a9b8;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.container > .item {
    margin: 2px;
    flex-grow: 1;
    display: flex;
    flex-basis: 400px;
    height: 200px;
    overflow: hidden;
    justify-content: center;
}

.container > .item > img {
    max-width: 400px;
    align-self: center;
    overflow: hidden;
    object-fit: contain;
}

@media screen and (min-width: 500px) {
    .container > .item:hover,
    .container > .item:hover > img,
    .container > .item:active > img,
    .container > .item:hover > img:hover
    }

@media screen and (max-width: 840px) {
    .container {
        width: calc(100% - 10px);
    }

    .container > .item {
        height: auto;
        flex-basis: auto;
    }

    .container > .item > img {
        max-width: auto;
        width: 100%;
    }
}

@media screen and (min-width: 840px) {
    .container {
        width: 840px;
    }
}

@media screen and (min-width: 1260px) {
    .container {
        width: 1260px;
    }
}

@media screen and (min-width: 1680px) {
    .container {
        width: 1680px;
    }
}
</style>